name: release

on:
  push:
    tags:
      - '*'

# Declare default permissions as read only.
permissions: read-all

env:
  REPO: ghcr.io/coreruleset/albedo

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      # https://goreleaser.com/ci/actions/#token-permissions
      contents: write
      packages: write

    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      -
        name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ^1.22
          cache: true
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7.0.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-images:
    name: Build images
    runs-on: ubuntu-latest
    needs:
      - goreleaser
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 1
      
      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          driver-opts: image=moby/buildkit:master

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build images
        id: build-and-push
        env:
          GIT_TAG: ${{ github.ref_name }}
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        with:
          source: .
          files: |
            ./docker-bake.hcl
          targets: default
          push: true
          provenance: true
          sbom: true
      - name: Sign the images with GitHub OIDC Token
        env:
          METADATA: ${{ steps.build-and-push.outputs.metadata }}
        run: |
          DIGEST=$(echo ${METADATA} | jq -r '.default."containerimage.digest"')
          TAGS=$(echo ${METADATA} | jq -r '.default."image.name" | tostring' | tr ',' '\n')
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
  
  verify-images:
    name: Verify images
    runs-on: ubuntu-latest
    needs:
      - publish-images
    steps:
      - name: Run container
        run: |
          tag="$(sed 's/^v//' <<<"${{ github.ref_name }}")"
          image_ref="${REPO}:${tag}"
          echo "Pulling ${image_ref} ..."
          docker pull "${image_ref}"
          echo "Starting container ${image_ref} ..."
          docker run --pull "never" -d --name albedo-test "${image_ref}"
          sleep 10
          docker logs albedo-test

      - name: Verify container
        run: |
          [ $(docker inspect albedo-test --format='{{.State.Running}}') = 'true' ]
